*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: #d4e9d5;
    font-size: large;
}
h1{
    @import url(https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap);
    font-family: 'Sans Gothic';
    color:#2e7d32
}
h2, a{
    color:#2e7d32;
}
a{
    font-style: normal;
}
header, section, footer{
    background-color: white;
    border-width: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
details:hover{
    cursor: pointer;
}
form{
    background-color: white;
}
input, select{
    border-color: #4ac352;
    border-radius: 5px; 
    width: 100%;
    height: 20px;
}
button{
    background-color: #2e7d32;
    font-weight: bold;
    border-radius: 5px; 
    color:white;
    width: 100%;
    border-width:0px;
}
button:hover{
background-color:#4ac352;
}
thead{
    background-color: #2e7d32;
    color: white;
    font-weight: bold;
}
thead>tr>td{
    border-spacing: 0px;
    border-collapse: collapse;
    border-style:none;
    border-width: 0px;
    border-image: none;
}
table{
    text-align: center;
    width:100%;
    border-width: 0px;
    border-collapse: collapse;
}
tbody>tr>td{
    background-color: #f5f5f5;
    border-style: solid;
    border-color: #ddd;
    
}
