body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#divEsquerra{
border-style: dashed;
float: left;
width: 33%;
padding-top: 5px;
padding-left: 5px;
margin-top: 5px;
margin-left: 5px;
text-align: left;
}
#divDreta{
    margin-top: 5px;
    margin-right: 5px;
    border-style: dashed;
    float: right;
    width: 33%;
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
}
#divCentral{
    clear: both;
    position: absolute;
    width: 50%;
    top: 40%;
    left:20%;
    text-align: right;
    
}
footer{
    background-color: gray;
    text-align: center;
    color:white;
    width:100%;
    position:fixed;
    bottom: 0;
}